:root {
    --color-primary: #0077b6; /* Azul */
    --color-secondary: #f9a03f; /* Amarillo */
    --color-background: rgb(95, 88, 227); /* Negro azabache */
    --color-text: #ffffff; /* Blanco */
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: var(--color-background);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: var(--color-text);
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos de hover */
.navbar a:hover {
    background-color: var(--color-primary);
    color: var(--color-text);
}

/* Animación de entrada en la barra de navegación */
@keyframes fadeInNav {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar {
    animation: fadeInNav 0.5s ease-in;
}

/* Animación de cambio de color de fondo */
@keyframes backgroundColorChange {
    0% {
        background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    }
    50% {
        background: linear-gradient(45deg, var(--color-secondary), var(--color-primary));
    }
    100% {
        background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    }
}
