/* src/App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Agrega m谩s estilos seg煤n tus necesidades */
/* App.css */

/* Estilos generales para toda la aplicaci贸n */
body {
  background-color: #f5f5f5;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.pokemon-app {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pokemon-title {
  font-size: 24px;
  color: #e44043;
}


/*  about styles.css */
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: ''; /* Reemplaza esto con el emoji de calavera de tu elecci贸n */
  position: absolute;
  opacity: 0;
  top: 50%;
  right: -30px; /* Aumentamos el margen derecho para evitar superposici贸n */
  transform: translateY(-50%);
  transition: 0.5s;
}

.button:hover span {
  padding-right: 50px; /* Aumentamos el padding derecho para dar espacio a la calavera */
}

.button:hover span:after {
  opacity: 1;
  right: 10px; /* Ajustamos la posici贸n para que no se superponga */
}
